<div id="main">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <section id="content_wrapper">
    <div id="topbar-dropmenu" class="alt">
      <div class="topbar-menu row">
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-primary light"><span class="glyphicon glyphicon-inbox text-muted"></span><span class="metro-title">Messages</span></a></div>
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-info light"><span class="glyphicon glyphicon-user text-muted"></span><span class="metro-title">Users</span></a></div>
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-success light"><span class="glyphicon glyphicon-headphones text-muted"></span><span class="metro-title">Support</span></a></div>
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-system light"><span class="glyphicon glyphicon-facetime-video text-muted"></span><span class="metro-title">Videos</span></a></div>
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-warning light"><span class="fa fa-gears text-muted"></span><span class="metro-title">Settings</span></a></div>
        <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-alert light"><span class="glyphicon glyphicon-picture text-muted"></span><span class="metro-title">Pictures</span></a></div>
      </div>
    </div>
    <header id="topbar" class="alt">
      <div class="topbar-left">
        <ol class="breadcrumb">
          <li class="crumb-active"><a href="index.html">Dashboard</a></li>
          <li class="crumb-icon"><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="crumb-link"><a href="index.html">Home</a></li>
          <li class="crumb-trail">Dashboard</li>
        </ol>
      </div>
      <div class="topbar-right">
        <div class="ib topbar-dropdown">
          <label for="topbar-multiple" class="control-label pr10 fs15 text-muted">Reporting Period</label>
          <select id="topbar-multiple" class="hidden">
            <optgroup label="Filter By:">
              <option value="1-1">Last 30 Days</option>
              <option value="1-2" selected="selected">Last 60 Days</option>
              <option value="1-3">Last Year</option>
            </optgroup>
          </select>
        </div>
        <div id="toggle_sidemenu_r" class="ml15 ib va-m"><a href="#" class="pl5"><i class="fa fa-sign-in fs22 text-primary"></i><span class="badge badge-hero badge-danger">3</span></a></div>
      </div>
    </header>
    <app-content></app-content>
  </section>
  <app-footer></app-footer>
</div>