<header class="navbar undefined bg-primary ">
  <div class="navbar-branding"><a href="index.html" class="navbar-brand text-uppercase">BluefireAdmin</a><span id="toggle_sidemenu_l" class="fa fa-bars"></span></div>
  <ul class="nav navbar-nav navbar-left"></ul>
  <form role="search" class="navbar-form navbar-left navbar-search alt"><span class="hide visible-md-inline-block visible-lg-inline-block fa fa-search fs18"></span>
    <div class="form-group">
      <input type="text" placeholder="Search..." class="form-control">
    </div>
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li><img src="assets/img/avatars/1.jpg" alt="avatar"></li>
    <li class="dropdown menu-merge"><a href="#" data-toggle="dropdown" class="dropdown-toggle fw600 p15"><span class="fa fa-angle-down"></span> </a>
      <ul role="menu" class="dropdown-menu list-group dropdown-persist w250">
        <li class="dropdown-header clearfix">
          <div class="pull-left ml10">
            <select id="user-status">
              <optgroup label="Current Status:">
                <option value="1-1">Away</option>
                <option value="1-2">Offline</option>
                <option value="1-3" selected="selected">Online</option>
              </optgroup>
            </select>
          </div>
          <div class="pull-right mr10">
            <select id="user-role">
              <optgroup label="Logged in As:">
                <option value="1-1">Client</option>
                <option value="1-2">Editor</option>
                <option value="1-3" selected="selected">Admin</option>
              </optgroup>
            </select>
          </div>
        </li>
        <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-envelope"></span> Messages<span class="label label-warning">2</span></a></li>
        <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-user"></span> Friends<span class="label label-warning">6</span></a></li>
        <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-bell"></span> Notifications</a></li>
        <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-gear"></span> Settings</a></li>
        <li class="dropdown-footer"><a href="pages_login.html"><span class="fa fa-power-off pr5"></span> Logout</a></li>
      </ul>
    </li>
  </ul>
</header>